# Clerk (Dashboard de Clerk → API Keys)
CLERK_PUBLISHABLE_KEY=pk_test_bGFyZ2UtbW9sbHktMTE3My5jbGVyay5hY2NvdW50cy5kZXYk

# URL base de PragmaCRM-Api (sin barra final)
VITE_API_URL=http://localhost:3000
